<header class="intro pt75 pb100" style="background: url('assets/img/bg/img-bg-43.jpg') no-repeat 70% 0; background-size:cover;">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-left">
                    <h1 class="brand-heading font-pacifico text-capitalize fs-75 color-light">The Startuphut,</h1>
                    <p class="intro-text mt50 text-uppercase color-light mb50">
                        5 years young company.<br>
                        We offering world-class mentorship - amazing opportunities to <br>seed your business to the next level
                        <h2 class="font-pacifico">Idea - Prototype - Develop - Deploy</h2>
                    </p>
                    <a class="button button-md button-gray animated">Kickstart Now<i class="fa fa-paper-plane-o" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>