        <div id="searchModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header bg-gray">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title text-center"><i class="fa fa-search fa-fw"></i> Search here</h5>
                    </div>
                    <div class="modal-body">                        
                        <form action="#" class="inline-form">
                            <input type="text" class="modal-search-input" autofocus>
                        </form>
                    </div>
                    <div class="modal-footer bg-gray">
                        <span class="text-center"><a href="#" class="color-dark">Advanced Search</a></span>
                    </div>
                </div>

            </div>
        </div>        
        <section class="bg-grad-mojito pt100 pb75">
            <div class="container">
                <div class="col-md-12 pt50 mb50 text-center">
                    <h1 class="brand-heading font-montserrat text-capitalize color-light mb20" data-in-effect="fadeInDown">Help Center &amp Knowledgebase</h1>
                </div>
                <div class="row mt35">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="panel-group" id="accordion5">

                            <div class="panel">
                                <div class="panel-heading">
                                    <a href="#collapse13" class="collapsed accordian-toggle-chevron-left" data-toggle="collapse" data-parent="#accordion5">How to use our service</a>
                                </div>
                                <div id="collapse13" class="panel-collapse collapse in active">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                    <a href="#collapse14" class="collapsed accordian-toggle-chevron-left" data-toggle="collapse" data-parent="#accordion5">How to pay your service</a>
                                </div>
                                <div id="collapse14" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                    <a href="#collapse15" class="collapsed accordian-toggle-chevron-left" data-toggle="collapse" data-parent="#accordion5">How to cancel payment</a>
                                </div>
                                <div id="collapse15" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                    <a href="#collapse16" class="collapsed accordian-toggle-chevron-left" data-toggle="collapse" data-parent="#accordion5">How order many projects</a>
                                </div>
                                <div id="collapse16" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                    <a href="#collapse17" class="collapsed accordian-toggle-chevron-left" data-toggle="collapse" data-parent="#accordion5">How to download free apps</a>
                                </div>
                                <div id="collapse17" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="panel-group" id="accordion6">

                            <div class="panel">
                                <div class="panel-heading">
                                    <a href="#collapse18" class="collapsed accordian-toggle-chevron-left" data-toggle="collapse" data-parent="#accordion6">How to use our service</a>
                                </div>
                                <div id="collapse18" class="panel-collapse collapse in active">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                    <a href="#collapse19" class="collapsed accordian-toggle-chevron-left" data-toggle="collapse" data-parent="#accordion6">How to pay your service</a>
                                </div>
                                <div id="collapse19" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                    <a href="#collapse20" class="collapsed accordian-toggle-chevron-left" data-toggle="collapse" data-parent="#accordion6">How to cancel payment</a>
                                </div>
                                <div id="collapse20" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                    <a href="#collapse21" class="collapsed accordian-toggle-chevron-left" data-toggle="collapse" data-parent="#accordion6">How order many projects</a>
                                </div>
                                <div id="collapse21" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                    </div>
                                </div>
                            </div>

                            <div class="panel">
                                <div class="panel-heading">
                                    <a href="#collapse22" class="collapsed accordian-toggle-chevron-left" data-toggle="collapse" data-parent="#accordion6">How to download free apps</a>
                                </div>
                                <div id="collapse22" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
<div id="contact" class="pt100 pb100 bg-grad-stellar">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="row">

                    <!-- title start -->
                    <div class="col-md-12 mb50">
                        <h1 class="font-size-normal color-light">
                            <small class="color-light">Contact Us</small>
                            Drop Us a Message
                        </h1>
                        <h5 class="color-light">Please feel free to say anything to us. Our staff will reply any message<br>as soon as possible.</h5>
                    </div>
                    <!-- title end -->

                    <!-- contact info start -->
                    <div class="col-md-5 col-sm-3 col-xs-12">
                        <span class="icon-map color-light el-icon2x"></span>
                        <h5 class="color-light"><strong>Address</strong></h5>
                        <p class="color-light">No 16/29, 1st Main Road, New Colony, Chrompet, Chennai 44.</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <span class="icon-megaphone color-light el-icon2x"></span>
                        <h5 class="color-light"><strong>Phone</strong></h5>
                        <p class="color-light">044 - 42918411</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <span class="icon-envelope color-light el-icon2x"></span>
                        <h5 class="color-light"><strong>Email</strong></h5>
                        <p class="color-light">support@ebuilders.in</p>
                    </div>
                    <!-- contact info end -->

                </div><!-- row left end -->
            </div><!-- col left end -->

            <div class="col-md-6">
                <div class="contact contact-us-one">
                    <div class="col-sm-12 col-xs-12 text-center mb20">
                        <h4 class="pb25 bb-solid-1 text-uppercase">
                            Get in Touch
                            <small class="text-lowercase">Please complete the form and we will get back to you.</small>
                        </h4>
                    </div>
                    <form name="contactform" id="contactForm" method="post" action="assets/php/send.php">

                        <!-- fullname start -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="text" name="senderName" id="senderName" class="input-md input-rounded form-control" placeholder="fullname" maxlength="100" required>
                            </div>
                        </div>
                        <!-- fullname end -->
                        <!-- email start -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="email" name="senderEmail" id="senderEmail" class="input-md input-rounded form-control" placeholder="email address" maxlength="100" required>
                            </div>
                        </div>
                        <!-- email end -->



                        <!-- textarea start -->
                        <div class="col-sm-12">
                            <textarea class="form-control" name="message" id="message" rows="5" required></textarea>
                        </div>
                        <!-- textarea end -->

                        <!-- button start -->
                        <div class="col-sm-12 mt10 text-center">
                            <button type="submit" name="sendMessage" id="sendMessage" class="button button-md button-block button-grad-stellar">Send Message</button>
                        </div>
                        <!-- button end -->

                        <div id="sendingMessage" class="statusMessage sending-message"><p>Sending your message. Please wait...</p></div>
                        <div id="successMessage" class="statusMessage success-message"><p>Thanks for sending your message! We'll get back to you shortly.</p></div>
                        <div id="failureMessage" class="statusMessage failure-message"><p>There was a problem sending your message. Please try again.</p></div>
                        <div id="incompleteMessage" class="statusMessage"><p>Please complete all the fields in the form before sending.</p></div>

                    </form>
                </div><!-- div contact end -->
            </div><!-- col end -->

        </div><!-- row end -->
    </div><!-- container end -->
</div><!-- section contact end -->