<div id="searchModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-gray">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h5 class="modal-title text-center"><i class="fa fa-search fa-fw"></i> Search here</h5>
            </div>
            <div class="modal-body">
                <form action="#" class="inline-form">
                    <input type="text" class="modal-search-input" autofocus>
                </form>
            </div>
            <div class="modal-footer bg-gray">
                <span class="text-center"><a href="#" class="color-dark">Advanced Search</a></span>
            </div>
        </div>

    </div>
</div>


<header class="pt100 pb100 parallax-window-2" data-parallax="scroll" data-speed="0.5" data-image-src="assets/img/bg/img-bg-46.jpg" data-positionY="1000">
    <div class="intro-body text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pt50">
                    <h1 class="brand-heading font-montserrat text-uppercase color-light" data-in-effect="fadeInDown">
                        Dedicated Development
                        <small class="color-light alpha7">We are ready for any challenge from you.</small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="pt75 pb50">
    <div class="container">
        <div class="row mb35">
            <h3 class="text-center">
               We Build Amazing Website Everyday
                <small class="heading-desc text-lowercase">
                    Lorem ipsum dolor sit amet consectetur adipiscing elit morbi sagittis.
                </small>
                <small class="heading heading-solid center-block"> </small>
            </h3>
        </div>

        <div class="row text-center">
            <img src="assets/img/other/img-other-18.png" alt="website service" class="img-responsive mb50 hover-wobble-horizontal">
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills nav-justified">
                  <li class="active text-uppercase"><a data-toggle="pill" href="#pilljustifiedHome"><i class="fa fa-wordpress mr10"></i> Wordpress</a></li>
                  <li class="text-uppercase"><a data-toggle="pill" href="#pilljustified1"><i class="fa fa-joomla mr10"></i> Joomla</a></li>
                  <li class="text-uppercase"><a data-toggle="pill" href="#pilljustified2"><i class="fa fa-drupal mr10"></i> Drupal</a></li>
                  <li class="text-uppercase"><a data-toggle="pill" href="#pilljustified3"><i class="fa fa-shopping-basket mr10"></i> eCommerse</a></li>
                  <li class="text-uppercase"><a data-toggle="pill" href="#pilljustified4"><i class="fa fa-object-ungroup mr10"></i> Vector</a></li>
                  <li class="text-uppercase"><a data-toggle="pill" href="#pilljustified5"><i class="fa fa-mobile-phone mr10"></i> Mobile App</a></li>
                </ul>

                <div class="tab-content bt-solid-1 mt35">
                    <div id="pilljustifiedHome" class="tab-pane fade in active">
                        <h4 class="text-center">Wordpress</h4>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cumque, distinctio, in assumenda voluptates iste autem fugiat recusandae quas corporis laboriosam maxime vero. Harum, similique, doloribus, voluptate aliquam unde quas at consequuntur rem iste eum iusto placeat quae inventore quibusdam explicabo itaque eaque dolor quam omnis assumenda. Hic, nesciunt vel debitis quas reiciendis. Debitis, natus, voluptas, quaerat, nostrum tempora aliquid nesciunt sapiente commodi excepturi fugiat neque facilis perferendis quam porro!
                        </p>
                        <p class="text-center">
                            <a class="button button-md button-blue hover-ripple-out">Order Now</a>
                        </p>
                    </div>
                    <div id="pilljustified1" class="tab-pane fade">
                        <h4 class="text-center">Joomla</h4>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cumque, distinctio, in assumenda voluptates iste autem fugiat recusandae quas corporis laboriosam maxime vero. Harum, similique, doloribus, voluptate aliquam unde quas at consequuntur rem iste eum iusto placeat quae inventore quibusdam explicabo itaque eaque dolor quam omnis assumenda. Hic, nesciunt vel debitis quas reiciendis. Debitis, natus, voluptas, quaerat, nostrum tempora aliquid nesciunt sapiente commodi excepturi fugiat neque facilis perferendis quam porro!
                        </p>
                        <p class="text-center">
                            <a class="button button-md button-green hover-ripple-out">Order Now</a>
                        </p>
                    </div>
                    <div id="pilljustified2" class="tab-pane fade">
                        <h4 class="text-center">Drupal</h4>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cumque, distinctio, in assumenda voluptates iste autem fugiat recusandae quas corporis laboriosam maxime vero. Harum, similique, doloribus, voluptate aliquam unde quas at consequuntur rem iste eum iusto placeat quae inventore quibusdam explicabo itaque eaque dolor quam omnis assumenda. Hic, nesciunt vel debitis quas reiciendis. Debitis, natus, voluptas, quaerat, nostrum tempora aliquid nesciunt sapiente commodi excepturi fugiat neque facilis perferendis quam porro!
                        </p>
                        <p class="text-center">
                            <a class="button button-md button-primary hover-ripple-out">Order Now</a>
                        </p>
                    </div>
                    <div id="pilljustified3" class="tab-pane fade">
                        <h4 class="text-center">eCommerce</h4>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cumque, distinctio, in assumenda voluptates iste autem fugiat recusandae quas corporis laboriosam maxime vero. Harum, similique, doloribus, voluptate aliquam unde quas at consequuntur rem iste eum iusto placeat quae inventore quibusdam explicabo itaque eaque dolor quam omnis assumenda. Hic, nesciunt vel debitis quas reiciendis. Debitis, natus, voluptas, quaerat, nostrum tempora aliquid nesciunt sapiente commodi excepturi fugiat neque facilis perferendis quam porro!
                        </p>
                        <p class="text-center">
                            <a class="button button-md button-purple hover-ripple-out">Order Now</a>
                        </p>
                    </div>
                    <div id="pilljustified4" class="tab-pane fade">
                        <h4 class="text-center">Vector</h4>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cumque, distinctio, in assumenda voluptates iste autem fugiat recusandae quas corporis laboriosam maxime vero. Harum, similique, doloribus, voluptate aliquam unde quas at consequuntur rem iste eum iusto placeat quae inventore quibusdam explicabo itaque eaque dolor quam omnis assumenda. Hic, nesciunt vel debitis quas reiciendis. Debitis, natus, voluptas, quaerat, nostrum tempora aliquid nesciunt sapiente commodi excepturi fugiat neque facilis perferendis quam porro!
                        </p>
                        <p class="text-center">
                            <a class="button button-md button-success hover-ripple-out">Order Now</a>
                        </p>
                    </div>
                    <div id="pilljustified5" class="tab-pane fade">
                        <h4 class="text-center">Mobile App</h4>
                        <p class="text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, cumque, distinctio, in assumenda voluptates iste autem fugiat recusandae quas corporis laboriosam maxime vero. Harum, similique, doloribus, voluptate aliquam unde quas at consequuntur rem iste eum iusto placeat quae inventore quibusdam explicabo itaque eaque dolor quam omnis assumenda. Hic, nesciunt vel debitis quas reiciendis. Debitis, natus, voluptas, quaerat, nostrum tempora aliquid nesciunt sapiente commodi excepturi fugiat neque facilis perferendis quam porro!
                        </p>
                        <p class="text-center">
                            <a class="button button-md button-warning hover-ripple-out">Order Now</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>





<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt50 mb35">
                <h1 class="color-dark">
                    More Than 1500 Website Launches since 2001
                </h1>
            </div>
        </div>
    </div>
    <div class="svg-container2">
        <svg id="svgLine" xmlns="http://www.w3.org/2000/svg" version="1.1"
             width="100%" height="300" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2000 250" preserveAspectRatio="xMinYMax">

            <polygon points="-150,300 200,90 550,140 800,60 1100,150 1400,100 1700,10 1900,50 2500,90 2500,300"
                     fill="url(#BglinierGradient)" stroke="none">
            </polygon>

            <polyline points="-150,244 200,90 550,140 800,60 1100,150 1400,100 1700,10 1900,50 2500,90 2500,500"
                      fill="none" stroke="#7668af" stroke-width="0">
            </polyline>

            <text x="170" y="20" fill="#8b949b" style="font-size: 120%; font-weight: 400;">Wordpress</text>
            <text x="170" y="60" fill="#5cb85c" style="font-size: 250%; font-weight: 300;">1000</text>

            <text x="510" y="60" fill="#8b949b" style="font-size: 120%; font-weight: 400;">Joomla</text>
            <text x="520" y="100" fill="#5f6467" style="font-size: 250%; font-weight: 300;">750</text>

            <text x="760" y="0" fill="#8b949b" style="font-size: 120%; font-weight: 400;">Drupal</text>
            <text x="760" y="40" fill="#b2cc71" style="font-size: 250%; font-weight: 300;">2000+</text>

            <text x="1060" y="70" fill="#8b949b" style="font-size: 120%; font-weight: 400;">HTML5</text>
            <text x="1060" y="110" fill="#3c88c6" style="font-size: 250%; font-weight: 300;">950</text>

            <text x="1350" y="30" fill="#8b949b" style="font-size: 120%; font-weight: 400;">eCommerse</text>
            <text x="1350" y="70" fill="#1abc9c" style="font-size: 250%; font-weight: 300;">5,780</text>

            <text x="1650" y="90" fill="#ffffff" style="font-size: 140%; font-weight: 300; font-family: 'Pacifico', cursive;">Counting..</text>

            <ellipse id="svg_3" rx="15" ry="15" cx="200" cy="90" fill="#5cb85c" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_4" rx="10" ry="10" cx="550" cy="140" fill="#5f6467" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_5" rx="15" ry="15" cx="800" cy="60" fill="#b2cc71" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_6" rx="15" ry="15" cx="1100" cy="150" fill="#3c88c6" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_7" rx="10" ry="10" cx="1400" cy="100" fill="#1abc9c" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_8" rx="10" ry="10" cx="1700" cy="10" fill="#a85ad4" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_9" rx="9" ry="9" cx="1900" cy="50" fill="#ff8b34" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_10" rx="6" ry="6" cx="2500" cy="90" fill="#fd40b3" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_11" rx="6" ry="6" cx="2200" cy="90" fill="#fd3635" stroke="#ffffff" stroke-width="5"></ellipse>

            <defs>
              <lineargradient id="BglinierGradient" x1="0" y1="0" x2="0" y2="1">
                  <stop id="BgLinierGradientStop_1" stop-opacity="1" stop-color="#1abc9c" offset="0"></stop>
                  <stop id="BgLinierGradientStop_2" stop-opacity="1" stop-color="#1abc9c" offset="1"></stop>
              </lineargradient>
            </defs>

        </svg>
    </div>
</div>
<div id="contact" class="pt100 pb100 bg-grad-stellar">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="row">

                    <!-- title start -->
                    <div class="col-md-12 mb50">
                        <h1 class="font-size-normal color-light">
                            <small class="color-light">Contact Us</small>
                            Drop Us a Message
                        </h1>
                        <h5 class="color-light">Please feel free to say anything to us. Our staff will reply any message<br>as soon as possible.</h5>
                    </div>
                    <!-- title end -->

                    <!-- contact info start -->
                    <div class="col-md-5 col-sm-3 col-xs-12">
                        <span class="icon-map color-light el-icon2x"></span>
                        <h5 class="color-light"><strong>Address</strong></h5>
                        <p class="color-light">No 16/29, 1st Main Road, New Colony, Chrompet, Chennai 44.</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <span class="icon-megaphone color-light el-icon2x"></span>
                        <h5 class="color-light"><strong>Phone</strong></h5>
                        <p class="color-light">044 - 42918411</p>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <span class="icon-envelope color-light el-icon2x"></span>
                        <h5 class="color-light"><strong>Email</strong></h5>
                        <p class="color-light">support@ebuilders.in</p>
                    </div>
                    <!-- contact info end -->

                </div><!-- row left end -->
            </div><!-- col left end -->

            <div class="col-md-6">
                <div class="contact contact-us-one">
                    <div class="col-sm-12 col-xs-12 text-center mb20">
                        <h4 class="pb25 bb-solid-1 text-uppercase">
                            Get in Touch
                            <small class="text-lowercase">Please complete the form and we will get back to you.</small>
                        </h4>
                    </div>
                    <form name="contactform" id="contactForm" method="post" action="assets/php/send.php">

                        <!-- fullname start -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="text" name="senderName" id="senderName" class="input-md input-rounded form-control" placeholder="fullname" maxlength="100" required>
                            </div>
                        </div>
                        <!-- fullname end -->
                        <!-- email start -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="email" name="senderEmail" id="senderEmail" class="input-md input-rounded form-control" placeholder="email address" maxlength="100" required>
                            </div>
                        </div>
                        <!-- email end -->



                        <!-- textarea start -->
                        <div class="col-sm-12">
                            <textarea class="form-control" name="message" id="message" rows="5" required></textarea>
                        </div>
                        <!-- textarea end -->

                        <!-- button start -->
                        <div class="col-sm-12 mt10 text-center">
                            <button type="submit" name="sendMessage" id="sendMessage" class="button button-md button-block button-grad-stellar">Send Message</button>
                        </div>
                        <!-- button end -->

                        <div id="sendingMessage" class="statusMessage sending-message"><p>Sending your message. Please wait...</p></div>
                        <div id="successMessage" class="statusMessage success-message"><p>Thanks for sending your message! We'll get back to you shortly.</p></div>
                        <div id="failureMessage" class="statusMessage failure-message"><p>There was a problem sending your message. Please try again.</p></div>
                        <div id="incompleteMessage" class="statusMessage"><p>Please complete all the fields in the form before sending.</p></div>

                    </form>
                </div><!-- div contact end -->
            </div><!-- col end -->

        </div><!-- row end -->
    </div><!-- container end -->
</div><!-- section contact end -->