<div id="welcome" class="pt75">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="font-size-normal">
                    We Are Smart Creative Start Up
                    <small class="heading heading-solid center-block"></small>
                </h1>
            </div>
            <div class="col-md-8 col-md-offset-2 text-center">
                <p>
                        <span class="lead"><strong>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam rem aperiam
                            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</strong></span><br><br>

                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                </p>
            </div>
        </div>

        <div class="row mt50">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="content-box content-box-center">
                    <span class="icon-layers color-pasific"></span>
                    <h5>Clean Code</h5>
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="content-box content-box-center">
                    <span class="icon-mobile color-pasific"></span>
                    <h5>Mobile Optimzed</h5>
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="content-box content-box-center">
                    <span class="icon-camera color-pasific"></span>
                    <h5>Photographer</h5>
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="content-box content-box-center">
                    <span class="icon-briefcase color-pasific"></span>
                    <h5>Awesome Portfolio</h5>
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="service" class="pt75 pb25">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="font-size-normal">
                    We Build Website &amp; App
                    <small class="heading heading-solid center-block"></small>
                </h1>
            </div>
            <div class="col-md-8 col-md-offset-2 text-center">
                <p class="lead">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt voluptatem.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="service" class="pt75 pb100">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row mt30">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content-box content-box-center">
                    <i class="fa fa-wordpress"></i>
                    <h4>Wordpress</h4>
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content-box content-box-center">
                    <i class="fa fa-joomla"></i>
                    <h4>Joomla</h4>
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content-box content-box-center">
                    <i class="fa fa-drupal"></i>
                    <h4>Drupal</h4>
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content-box content-box-center">
                    <i class="fa fa-html5"></i>
                    <h4>HTML5</h4>
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>

                </div>
            </div>
        </div>
        <div class="row mt30">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content-box content-box-center">
                    <i class="fa fa-wordpress"></i>
                    <h4>Wordpress</h4>
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content-box content-box-center">
                    <i class="fa fa-joomla"></i>
                    <h4>Joomla</h4>
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content-box content-box-center">
                    <i class="fa fa-drupal"></i>
                    <h4>Drupal</h4>
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="content-box content-box-center">
                    <i class="fa fa-html5"></i>
                    <h4>HTML5</h4>
                    <p>Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact" class="pt100 pb100 bg-grad-stellar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12 mb50">
                        <h1 class="font-size-normal color-light">
                            <small class="color-light">Contact Us</small>
                            Drop Us a Message
                        </h1>
                        <h5 class="color-light">Please feel free to say anything to us. Our staff will reply any message<br>as soon as possible.</h5>
                    </div>
                    <div class="col-md-12 col-sm-3 col-xs-12">
                        <span class="icon-map color-light el-icon2x"></span>
                        <h5 class="color-light"><strong>Address</strong></h5>
                        <p class="color-light">No 16/29, 1st Main Road, New Colony, Chrompet, Chennai 44.</p>
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-6">
                        <span class="icon-megaphone color-light el-icon2x"></span>
                        <h5 class="color-light"><strong>Phone</strong></h5>
                        <p class="color-light">044 - 42918411</p>
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-6">
                        <span class="icon-envelope color-light el-icon2x"></span>
                        <h5 class="color-light"><strong>Email</strong></h5>
                        <p class="color-light">support@ebuilders.in</p>
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-6">
                        <span class="icon-chat color-light el-icon2x"></span>
                        <h5 class="color-light"><strong>Skype</strong></h5>
                        <p class="color-light">support@ebuilders.in</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact contact-us-one">
                    <div class="col-sm-12 col-xs-12 text-center mb20">
                        <h4 class="pb25 bb-solid-1 text-uppercase">
                            Get in Touch
                            <small class="text-lowercase">Please complete the form and we will get back to you.</small>
                        </h4>
                    </div>
                    <form name="contactform" id="contactForm" method="post" action="assets/php/send.php">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="text" name="senderName" id="senderName" class="input-md input-rounded form-control" placeholder="fullname" maxlength="100" required>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <input type="email" name="senderEmail" id="senderEmail" class="input-md input-rounded form-control" placeholder="email address" maxlength="100" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <textarea class="form-control" name="message" id="message" rows="5" required></textarea>
                        </div>
                        <div class="col-sm-12 mt10 text-center">
                            <button type="submit" name="sendMessage" id="sendMessage" class="button button-md button-block button-grad-stellar">Send Message</button>
                        </div>
                        <div id="sendingMessage" class="statusMessage sending-message"><p>Sending your message. Please wait...</p></div>
                        <div id="successMessage" class="statusMessage success-message"><p>Thanks for sending your message! We'll get back to you shortly.</p></div>
                        <div id="failureMessage" class="statusMessage failure-message"><p>There was a problem sending your message. Please try again.</p></div>
                        <div id="incompleteMessage" class="statusMessage"><p>Please complete all the fields in the form before sending.</p></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>