        <div id="searchModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header bg-gray">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title text-center"><i class="fa fa-search fa-fw"></i> Search here</h5>
                    </div>
                    <div class="modal-body">                        
                        <form action="#" class="inline-form">
                            <input type="text" class="modal-search-input" autofocus>
                        </form>
                    </div>
                    <div class="modal-footer bg-gray">
                        <span class="text-center"><a href="#" class="color-dark">Advanced Search</a></span>
                    </div>
                </div>

            </div>
        </div>        
        <header class="pt100 pb100 parallax-window-2" data-parallax="scroll" data-speed="0.5" data-image-src="assets/img/bg/img-bg-45.jpg" data-positionY="1000">
            <div class="intro-body text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 pt50">
                            <h1 class="brand-heading font-montserrat text-uppercase color-light" data-in-effect="fadeInDown">
                                prototype kickstart
                            </h1>
                        </div>
                    </div>
                </div>
                
            </div>
        </header> 
        
        <div id="about" class="pt75 pb50">
            <div class="container">
                <div class="row">

                    <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 text-center">
                        <h4>
                            Why Us
                            <small class="heading heading-solid center-block"></small>
                        </h4>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur adipisci velit sed quia. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. <br>
                            <a class="button button-sm button-pasific mt20 hover-ripple-out animated" data-animation="slideInRight" data-animation-delay="100">Start Project</a>
                        </p>
                    </div>
                    
                </div>
                
                
            </div>
        </div>
        
        
        <!-- Skill Area
        ===================================== -->
        <div id="skill" class="mb50">
            <div class="container-fluid pb50">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 -col-sm-4 col-xs-4 text-center">
                            <div class="circle-progress circle-progress-bg-pasific" data-value=".9" data-size="150" data-thickness="20">
                                <span class="circle-progress-value"></span>
                                <span class="circle-progress-title">Adobe Photoshop</span>
                            </div>
                        </div>

                        <div class="col-md-3 -col-sm-4 col-xs-4 text-center">                  
                            <div class="circle-progress circle-progress-bg-primary" data-value=".7" data-size="150" data-thickness="20">
                                <span class="circle-progress-value"></span>
                                <span class="circle-progress-title">Wordpress</span>
                            </div>                      
                        </div>

                        <div class="col-md-3 -col-sm-4 col-xs-4 text-center">                  
                            <div class="circle-progress circle-progress-bg-success" data-value=".8" data-size="150" data-thickness="20">
                                <span class="circle-progress-value"></span>
                                <span class="circle-progress-title">Joomla</span>
                            </div>                      
                        </div>

                        <div class="col-md-3 -col-sm-4 col-xs-4 text-center">                  
                            <div class="circle-progress circle-progress-bg-info" data-value=".3" data-size="150" data-thickness="20">
                                <span class="circle-progress-value"></span>
                                <span class="circle-progress-title">WooCommerce</span>
                            </div>                      
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Team Area
        ===================================== -->
        <!--<div id="team" class="bg-grad-mojito pt70 pb50">
            <div class="container pb50">
                <div class="row mb25">
                    <h4 class="text-center color-light">
                        Time and Cost
                        <small class="heading heading-solid center-block"></small>
                    </h4>
                </div>
                <div class="row">
					
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="price price-three">
							<div class="price-header">
                                <span><sup>$</sup>49</span>
								<h4>Wordpress</h4>								
							</div>
							<div class="price-body">
								<ul>
									<li>Two Web Designs</li>
									<li>Unlimited Revision</li>
									<li>Free One Year Domain</li>
									<li>Free Six Months Hosting</li>
									<li>Free Installation</li>
									<li>Full Support</li>
								</ul>
							</div>
							<div class="price-footer">
								
								<a href="#" class="button button-sm button-rounded button-green hover-ripple-out">Order Now</a>
							</div>
						</div>
					</div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12">
						<div class="price price-three active">
							<div class="price-header">
                                <span><sup>$</sup>59</span>
								<h4>Joomla</h4>								
							</div>
							<div class="price-body">
								<ul>
									<li>Two Web Designs</li>
									<li>Unlimited Revision</li>
									<li>Free One Year Domain</li>
									<li>Free Six Months Hosting</li>
									<li>Free Installation</li>
									<li>Full Support</li>
								</ul>
							</div>
							<div class="price-footer">
								
								<a href="#" class="button button-sm button-rounded button-blue hover-ripple-out">Order Now</a>
							</div>
						</div>
					</div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12">
						<div class="price price-three">
							<div class="price-header">
                                <span><sup>$</sup>69</span>
								<h4>WooCommerce</h4>								
							</div>
							<div class="price-body">
								<ul>
									<li>Two Web Designs</li>
									<li>Unlimited Revision</li>
									<li>Free One Year Domain</li>
									<li>Free Six Months Hosting</li>
									<li>Free Installation</li>
									<li>Full Support</li>
								</ul>
							</div>
							<div class="price-footer">
								
								<a href="#" class="button button-sm button-rounded button-success hover-ripple-out">Order Now</a>
							</div>
						</div>
					</div>
                    
                    <div class="col-md-3 col-sm-6 col-xs-12">
						<div class="price price-three">
							<div class="price-header">
                                <span><sup>$</sup>79</span>
								<h4>Custom</h4>								
							</div>
							<div class="price-body">
								<ul>
									<li>Two Web Designs</li>
									<li>Unlimited Revision</li>
									<li>Free One Year Domain</li>
									<li>Free Six Months Hosting</li>
									<li>Free Installation</li>
									<li>Full Support</li>
								</ul>
							</div>
							<div class="price-footer">
								
								<a href="#" class="button button-sm button-rounded button-primary hover-ripple-out">Order Now</a>
							</div>
						</div>
					</div>

				</div>
            </div>
        </div>-->
<!-- Features Area
        ===================================== -->
<div id="features" class=" bg-gray pt50 pb50 text-center">
    <div class="container">
        <div class="row">
            <h4>
                Process
                <small class="heading heading-solid center-block"></small>
            </h4>
            <div class="col-md-8 col-sm-12 col-xs-12 col-md-push-2">
                <img src="assets/img/app/img-app-18.png" alt="mobile app" class="img-responsive">
            </div>
        </div><!-- row end -->
    </div><!-- container end-->
</div><!-- section feature end -->

<!---Timeline------>
<div class="container mt40">
    <ul class="timeline">
        <li>
          <div class="timeline-badge info"><i class="fa fa-smile-o"></i></div>
          <div class="timeline-panel">
            <h4 class="color-dark">Day 1</h4>
            <div class="timeline-heading">
              <h4 class="timeline-title">Title</h4>
            </div>
            <div class="timeline-body">
              <p>Description...</p>
            </div>
          </div>
        </li>
        
        <li>
          <div class="timeline-badge primary"><i class="fa fa-star-o"></i></div>
          <div class="timeline-panel">
            <h4 class="color-dark">Day 5</h4>
            <div class="timeline-heading">
              <h4 class="timeline-title">Title</h4>
            </div>
            <div class="timeline-body">
              <p>Description...</p>
            </div>
          </div>
        </li>
        
        <li>
          <div class="timeline-badge warning"><i class="fa fa-sun-o"></i></div>
          <div class="timeline-panel">
            <h4 class="color-dark">Day 12</h4>
            <div class="timeline-heading">
              <h4 class="timeline-title">Title</h4>
            </div>
            <div class="timeline-body">
              <p>Description...</p>
            </div>
          </div>
        </li>
        
        <li>
          <div class="timeline-badge danger"><i class="fa fa-times-circle-o"></i></div>
          <div class="timeline-panel">
            <h4 class="color-dark">Day 28</h4>
            <div class="timeline-heading">
              <h4 class="timeline-title">Title</h4>
            </div>
            <div class="timeline-body">
              <p>Description...</p>
            </div>
          </div>
        </li>
        
        <li>
          <div class="timeline-badge success"><i class="fa fa-check-circle-o"></i></div>
          <div class="timeline-panel">
            <h4 class="color-dark">Day 40</h4>
            <div class="timeline-heading">
              <h4 class="timeline-title">Title</h4>
            </div>
            <div class="timeline-body">
              <p>Description...</p>
            </div>
          </div>
        </li>
        
        <li>
          <div class="timeline-badge default"><i class="fa fa-frown-o"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Title</h4>
            </div>
            <div class="timeline-body">
              <p>Description...</p>
            </div>
          </div>
        </li>
    </ul>
</div>
<!--timeline end---->


<!--timeline model2----->
<div class="container">
    <div class="page-header">
		<h1 id="">Timeline</h1>
	</div>
	<div id="timeline"><div class="row timeline-movement timeline-movement-top">
    <div class="timeline-badge timeline-future-movement">
        <a href="#">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <div class="timeline-badge timeline-filter-movement">
        <a href="#">
            <span class="glyphicon glyphicon-time"></span>
        </a>
    </div>

</div>
<div class="row timeline-movement">

    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">18</span>
        <span class="timeline-balloon-date-month">APR</span>
    </div>


    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>

<!--timeline end 2 -->



<!--timeline end3---->

<div class="row timeline-movement">


    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">13</span>
        <span class="timeline-balloon-date-month">APR</span>
    </div>

    <div class="col-sm-offset-6 col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


</div>
<div class="row timeline-movement">


    <div class="timeline-badge">
        <span class="timeline-balloon-date-day">10</span>
        <span class="timeline-balloon-date-month">APR</span>
    </div>

    <div class="col-sm-offset-6 col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="timeline-panel debits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-6  timeline-item">
        <div class="row">
            <div class="col-sm-11">
                <div class="timeline-panel credits">
                    <ul class="timeline-panel-ul">
                        <li><span class="importo">Mussum ipsum cacilds</span></li>
                        <li><span class="causale">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span> </li>
                        <li><p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11/09/2014</small></p> </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


</div>
</div>
</div>
<!-- Cart Area
     ===================================== -->
<div>
    <!--<div class="container">
        <div class="row">
            <div class="col-md-12 text-center mt50 mb35">
                <h1 class="color-dark">
                    More Than 1500 Website Launches since 2001
                </h1>
            </div>
        </div>
    </div>--->  
    <div class="container" style="width: 100%">
        <svg
            id="svgLine" xmlns="http://www.w3.org/2000/svg" version="1.1"  xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-40 0 1100 600" preserveAspectRatio="xMinYMax"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            id="svg2985"
            version="1.1"
            inkscape:version="0.48.4 r9939"
            sodipodi:docname="drawing-1.svg">
            <defs id="defs2987" />
            <sodipodi:namedview
                id="base"
                pagecolor="#ffffff"
                bordercolor="#666666"
                borderopacity="1.0"
                inkscape:pageopacity="0.0"
                inkscape:pageshadow="2"
                inkscape:zoom="1.0976562"
                inkscape:cx="316.45245"
                inkscape:cy="367.47476"
                inkscape:current-layer="layer1"
                inkscape:document-units="px"
                showgrid="false"
                inkscape:window-width="1920"
                inkscape:window-height="1028"
                inkscape:window-x="0"
                inkscape:window-y="0"
                inkscape:window-maximized="1" />
            <metadata
                id="metadata2990">
                <rdf:RDF>
                    <cc:Work
                        rdf:about="">
                        <dc:format>image/svg+xml</dc:format>
                        <dc:type
                            rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                        <dc:title />
                    </cc:Work>
                </rdf:RDF>
            </metadata>
            <g
                id="layer1"
                inkscape:label="Layer 1"
                inkscape:groupmode="layer">
                <path
                    style="fill:none;stroke:#ff4530;stroke-width:3px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 309.75089,524.75445 404.49822,0"
                    id="path4022"
                    inkscape:connector-curvature="0" />
                <path
                    style="fill:none;stroke:#ff4530;stroke-width:3px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 205.89324,307.19573 105.85765,-188.58363 405.40925,0 102.94662,188.58363"
                    id="path4032"
                    inkscape:connector-curvature="0" />
                <path
                    style="fill:none;stroke:#ff4530;stroke-width:3px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="M 715.16014,523.84342 819.01779,337.08185"
                    id="path4034"
                    inkscape:connector-curvature="0" />
                <path
                    style="fill:none;stroke:#ff4530;stroke-width:3px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 836.3274,305.19573 101.12456,-187.6726 80.17084,0 0,406.32029 -78.34878,0.91103 -102.94662,-184.9395"
                    id="path4036"
                    inkscape:connector-curvature="0" />
                <path
                    style="fill:none;stroke:#ccc;stroke-width:2px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 85.548043,116.6121 225.202847,0.91103"
                    id="path4038"
                    inkscape:connector-curvature="0" />
                <path
                    style="fill:none;stroke:#ccc;stroke-width:2px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 718.07117,117.6121 217.29182,0.91103"
                    id="path4042"
                    inkscape:connector-curvature="0" />
                <path
                    style="fill:none;stroke:#ccc;stroke-width:2px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 85.459075,525.75445 224.024915,0"
                    id="path4048"
                    inkscape:connector-curvature="0" />
                <path
                    style="fill:none;stroke:#ccc;stroke-width:2px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="M 556.64057,522.75445 780.75445,117.70107"
                    id="path4056"
                    inkscape:connector-curvature="0" />
                <path
                    style="fill:none;stroke:#ccc;stroke-width:2px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="M 401.76512,522.93238 624.96797,118.6121"
                    id="path4058"
                    inkscape:connector-curvature="0" />
                <path
                    style="fill:none;stroke:#ccc;stroke-width:2px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="M 243.24555,525.84342 468.27046,117.70107"
                    id="path4060"
                    inkscape:connector-curvature="0" />
                <path
                    style="fill:none;stroke:#ff4530;stroke-width:3px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="M 309.75089,523.84342 204.98221,338.90391"
                    id="path4062"
                    inkscape:connector-curvature="0" />
                <path
                    style="fill:none;stroke:#ff4530;stroke-width:3px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="M 187.6726,338.90391 83.814947,525.66548 4.5551601,524.75445 l 0,-408.14235 80.1708189,0 57.650661,106.03604 17.50454,32.19585 10.28151,18.91063 16.59888,33.53008"
                    id="path4064"
                    inkscape:connector-curvature="0"
                    sodipodi:nodetypes="ccccccccc" />
                <path
                    sodipodi:type="arc"
                    style="fill:#ff4530;fill-opacity:1;stroke:#cb3e3e;stroke-opacity:1"
                    id="path4078"
                    sodipodi:cx="196.32741"
                    sodipodi:cy="322.50534"
                    sodipodi:rx="18.676157"
                    sodipodi:ry="17.309608"
                    d="m 215.00356,322.50534 a 18.676157,17.309608 0 1 1 -37.35231,0 18.676157,17.309608 0 1 1 37.35231,0 z" />
                <path
                    sodipodi:type="arc"
                    style="fill:#ff4530;fill-opacity:1;stroke:#cb3e3e;stroke-opacity:1"
                    id="path4080"
                    sodipodi:cx="829.03912"
                    sodipodi:cy="322.96085"
                    sodipodi:rx="20.042706"
                    sodipodi:ry="18.676157"
                    d="m 849.08183,322.96085 a 20.042706,18.676157 0 1 1 -40.08541,0 20.042706,18.676157 0 1 1 40.08541,0 z" />
                <flowRoot
                    xml:space="preserve"
                    id="flowRoot4084"
                    style="fill:black;stroke:none;stroke-opacity:1;stroke-width:1px;stroke-linejoin:miter;stroke-linecap:butt;fill-opacity:1;font-family:Sans;font-style:normal;font-weight:normal;font-size:40px;line-height:125%;letter-spacing:0px;word-spacing:0px"><flowRegion
                        id="flowRegion4086"><rect
                            id="rect4088"
                            width="158.51958"
                            height="43.729538"
                            x="10.021353"
                            y="-387.1886" /></flowRegion><flowPara
                        id="flowPara4090" /></flowRoot>    <path
                    style="fill:none;stroke:#ccc;stroke-width:2px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 714.98221,524.84342 223.11388,0"
                    id="path4092"
                    inkscape:connector-curvature="0" />
                <text
                    xml:space="preserve"
                    style="font-size:12px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#d97272;fill-opacity:1;stroke:#cd4545;stroke-opacity:1;font-family:Sans"
                    x="92.014236"
                    y="323.41638"
                    id="text4094"
                    sodipodi:linespacing="125%"><tspan
                        sodipodi:role="line"
                        id="tspan4096"
                        x="92.014236"
                        y="323.41638" /></text>
    <text
        xml:space="preserve"
        style="font-size:16px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#ff4530;fill-opacity:1;stroke:none;font-family:Sans"
        x="30.975092"
        y="326.14948"
        id="text4098"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4100"
            x="30.975092"
            y="326.14948">Project Define</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:16px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#ff4530;fill-opacity:1;stroke:none;font-family:Sans"
        x="153.96442"
        y="158.51958"
        id="text4102"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4104"
            x="153.96442"
            y="158.51958">Consensus</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14.00000005px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="315.5668"
        y="154.62984"
        id="text4106"
        sodipodi:linespacing="125%"
        transform="scale(0.97149582,1.0293405)"><tspan
            sodipodi:role="line"
            id="tspan4108"
            x="315.5668"
            y="154.62984">Macroscopic</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:16px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#ff4530;fill-opacity:1;stroke:none;font-family:Sans;-inkscape-font-specification:Sans"
        x="317.03915"
        y="327.06049"
        id="text4118"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4120"
            x="317.03915"
            y="327.06049">Research</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="471.00357"
        y="156.69751"
        id="text4122"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4124"
            x="471.00357"
            y="156.69751">Microscopic</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="469.18149"
        y="191.31673"
        id="text4126"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4128"
            x="469.18149"
            y="191.31673">Market search</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="430.00711"
        y="223.20285"
        id="text4130"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4132"
            x="430.00711"
            y="223.20285">User Enivornment</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="414.51956"
        y="257.82208"
        id="text4134"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4136"
            x="414.51956"
            y="257.82208">Shadowing</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="391.74377"
        y="292.44128"
        id="text4138"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4140"
            x="391.74377"
            y="292.44128">FGI,Interview</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="605.83624"
        y="211.35944"
        id="text4142"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4144"
            x="605.83624"
            y="211.35944">Brain paper</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="586.70459"
        y="242.33452"
        id="text4146"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4148"
            x="586.70459"
            y="242.33452">Metaphor</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="566.66193"
        y="276.04269"
        id="text4150"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4152"
            x="566.66193"
            y="276.04269">Fish bone</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:16px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#ff4530;fill-opacity:1;stroke:none;font-family:Sans"
        x="552.08539"
        y="328.88257"
        id="text4154"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4156"
            x="552.08539"
            y="328.88257">Ideation</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="351.65836"
        y="365.32385"
        id="text4158"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4160"
            x="351.65836"
            y="365.32385">Benchmarking</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="337.99289"
        y="398.121"
        id="text4162"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4164"
            x="337.99289"
            y="398.121">Exploring</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="326.14948"
        y="419.98578"
        id="text4166"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4168"
            x="326.14948"
            y="419.98578">Experience</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#999090;fill-opacity:0.046542;stroke:#a0a0a0;stroke-opacity:0.69625394;font-family:Sans"
        x="309.75089"
        y="459.16016"
        id="text4170"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4172"
            x="309.75089"
            y="459.16016" /><tspan
            sodipodi:role="line"
            x="309.75089"
            y="476.66016"
            id="tspan4176" /><tspan
            sodipodi:role="line"
            id="tspan4174"
            x="309.75089"
            y="494.16016" /></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="516.55518"
        y="371.70105"
        id="text4178"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4180"
            x="516.55518"
            y="371.70105">Scenario</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="493.77936"
        y="396.29892"
        id="text4182"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4184"
            x="493.77936"
            y="396.29892">Persona</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:0.98431373;stroke:none;font-family:Sans;-inkscape-font-specification:Sans"
        x="733.3808"
        y="250.53381"
        id="text4186"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4188"
            x="733.3808"
            y="250.53381">New</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="716.98224"
        y="276.04269"
        id="text4190"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4192"
            x="716.98224"
            y="276.04269">Concept</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:0.80784315;stroke:none;font-family:Sans"
        x="677.8078"
        y="368.96796"
        id="text4194"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4196"
            x="677.8078"
            y="368.96796">New</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="651.38788"
        y="378.98932"
        id="text4198"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4200"
            x="651.38788"
            y="378.98932" /><tspan
            sodipodi:role="line"
            id="tspan4202"
            x="651.38788"
            y="396.48932">Experience</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:16px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#ff4530;fill-opacity:1;stroke:none;font-family:Sans"
        x="719.71527"
        y="325.23843"
        id="text4204"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4206"
            x="719.71527"
            y="325.23843">Create</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#ff4530;fill-opacity:1;stroke:none;font-family:Sans"
        x="776.19928"
        y="501.06763"
        id="text4208"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4210"
            x="776.19928"
            y="501.06763">Verification</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:16px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#ff4530;fill-opacity:1;stroke:none;font-family:Sans"
        x="915.58722"
        y="324.32739"
        id="text4212"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4214"
            x="915.58722"
            y="324.32739">Develop</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans;-inkscape-font-specification:Sans"
        x="934.71887"
        y="253.26691"
        id="text4216"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4218"
            x="934.71887"
            y="253.26691">User</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="911.03204"
        y="276.95374"
        id="text4220"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4222"
            x="911.03204"
            y="276.95374">Scenario</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="929.25262"
        y="373.52313"
        id="text4224"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4226"
            x="929.25262"
            y="373.52313">User</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:1;stroke:none;font-family:Sans"
        x="901.01062"
        y="378.07831"
        id="text4228"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan4230"
            x="901.01062"
            y="378.07831" /><tspan
            sodipodi:role="line"
            id="tspan4232"
            x="901.01062"
            y="395.57831">Experience</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:0.74901962;stroke:#000000;font-family:Sans;stroke-opacity:0"
        x="300.64059"
        y="190.40567"
        id="text3072"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan3074"
            x="300.64059"
            y="190.40567">User Need</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:0.37647059;stroke:none;font-family:Sans"
        x="276.04269"
        y="215.91455"
        id="text3076"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan3078"
            x="276.04269"
            y="215.91455">Technique</tspan></text>
    <text
        xml:space="preserve"
        style="font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#aaa;fill-opacity:0.63529412;stroke:none;font-family:Sans"
        x="259.64413"
        y="241.42346"
        id="text3080"
        sodipodi:linespacing="125%"><tspan
            sodipodi:role="line"
            id="tspan3082"
            x="259.64413"
            y="241.42346">Market search</tspan></text>
            </g>
            <g
                inkscape:groupmode="layer"
                id="layer2"
                inkscape:label="Layer" />
        </svg>
    </div>
</div>

<!-- Features Area Trail
       ===================================== -->
<div class="container">
    <h3 class="text-center color-dark mb50">
        Amazing App Features
        <small class="color-dark alpha8">Our amazing app features for all platform.</small>
    </h3>

    <div class="row mb40">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="content-box content-box-right-icon fea1">
                <span class="icon-megaphone color-dark"></span>
                <h4 class="color-dark">1.Forum Support</h4>
                <p class="color-dark alpha8">Lorem ipsum dolor sit amet consectetur adipisicing elit commodi.</p>
            </div>
            <div class="progress progress-striped active progress-sm ">
                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
            </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="circle-progress circle-progress-bg-pasific c1" data-value=".2" data-size="150" data-thickness="10">
                <span class="circle-progress-value"></span>
            </div>
        </div>
        </div>

    <div class="row mb40">
        <div class="col-md-4 col-sm-4 col-xs-4 align">
            <div class="circle-progress circle-progress-bg-pasific c1" data-value=".4" data-size="150" data-thickness="10">
                <span class="circle-progress-value"></span>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="content-box content-box-right-icon">
                <span class="icon-megaphone color-dark"></span>
                <h4 class="color-dark">2.Forum Support</h4>
                <p class="color-dark alpha8">Lorem ipsum dolor sit amet consectetur adipisicing elit commodi.</p>
            </div>
            <div class="progress progress-striped active progress-sm right">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb40">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="content-box content-box-right-icon fea1">
                <span class="icon-megaphone color-dark"></span>
                <h4 class="color-dark">3.Forum Support</h4>
                <p class="color-dark alpha8">Lorem ipsum dolor sit amet consectetur adipisicing elit commodi.</p>
            </div>
            <div class="progress progress-striped active progress-sm ">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="circle-progress circle-progress-bg-pasific c1" data-value=".50" data-size="150" data-thickness="10">
                <span class="circle-progress-value"></span>
            </div>
        </div>
    </div>

    <div class="row mb40">
        <div class="col-md-4 col-sm-4 col-xs-4 align">
            <div class="circle-progress circle-progress-bg-pasific c1" data-value=".8" data-size="150" data-thickness="10">
                <span class="circle-progress-value"></span>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="content-box content-box-right-icon">
                <span class="icon-megaphone color-dark"></span>
                <h4 class="color-dark">4.Forum Support</h4>
                <p class="color-dark alpha8">Lorem ipsum dolor sit amet consectetur adipisicing elit commodi.</p>
            </div>
            <div class="progress progress-striped active progress-sm right">
                <div class="progress-bar bg-pasific" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb40">
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="content-box content-box-right-icon fea1">
                <span class="icon-megaphone color-dark"></span>
                <h4 class="color-dark">5.Forum Support</h4>
                <p class="color-dark alpha8">Lorem ipsum dolor sit amet consectetur adipisicing elit commodi.</p>
            </div>
            <div class="progress progress-striped active progress-sm ">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    <span class="sr-only">70% Complete</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="circle-progress circle-progress-bg-pasific c1" data-value=".9" data-size="150" data-thickness="10">
                <span class="circle-progress-value"></span>
            </div>
        </div>
    </div>


</div>



<div id="features" class="pt75 pb75">
    <div class="container">
        <div class="row">
            <h3 class="text-center color-dark mb50">
                Amazing App Features
                <small class="color-dark alpha8">Our amazing app features for all platform.</small>
            </h3>
            <div class="col-md-6 col-sm-12 col-xs-12 col-md-push-3">
                <img src="assets/img/app/img-app-1.png" alt="mobile app" class="img-responsive mt50">
            </div>


            <!-- Left Content -->
            <div class="col-md-3 col-sm-6 col-xs-12 col-md-pull-6 pt100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-box content-box-right-icon mb30">
                            <span class="icon-megaphone color-dark"></span>
                            <h4 class="color-dark">Forum Support</h4>
                            <p class="color-dark alpha8">Lorem ipsum dolor sit amet consectetur adipisicing elit commodi.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="content-box content-box-right-icon mb30">
                            <span class="icon-documents color-dark"></span>
                            <h4 class="color-dark">Documentation</h4>
                            <p class="color-dark alpha8">Lorem ipsum dolor sit amet consectetur adipisicing elit commodi.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="content-box content-box-right-icon">
                            <span class="icon-video color-dark"></span>
                            <h4 class="color-dark">Video Support</h4>
                            <p class="color-dark alpha8">Lorem ipsum dolor sit amet consectetur adipisicing elit commodi.</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Right Content -->
            <div class="col-md-3 col-sm-6 col-xs-12 pt100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-box content-box-left-icon mb30">
                            <span class="icon-lock color-dark"></span>
                            <h4 class="color-dark">100% secure</h4>
                            <p class="color-dark alpha8">Lorem ipsum dolor sit amet consectetur adipisicing elit commodi.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="content-box content-box-left-icon mb30">
                            <span class="icon-layers color-dark"></span>
                            <h4 class="color-dark">Security Layers</h4>
                            <p class="color-dark alpha8">Lorem ipsum dolor sit amet consectetur adipisicing elit commodi.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="content-box content-box-left-icon">
                            <span class="icon-tools color-dark"></span>
                            <h4 class="color-dark">Full Support</h4>
                            <p class="color-dark alpha8">Lorem ipsum dolor sit amet consectetur adipisicing elit commodi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









    <!-- Contact Us Area
  =====================================-->
    <div id="contact" class="pt100 pb100 bg-grad-stellar">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="row">

                        <!-- title start -->
                        <div class="col-md-12 mb50">
                            <h1 class="font-size-normal color-light">
                                <small class="color-light">Contact Us</small>
                                Drop Us a Message
                            </h1>
                            <h5 class="color-light">Please feel free to say anything to us. Our staff will reply any message<br>as soon as possible.</h5>
                        </div>
                        <!-- title end -->

                        <!-- contact info start -->
                        <div class="col-md-12 col-sm-3 col-xs-12">
                            <span class="icon-map color-light el-icon2x"></span>
                            <h5 class="color-light"><strong>Address</strong></h5>
                            <p class="color-light">No 16/29, 1st Main Road, New Colony, Chrompet, Chennai 44.</p>
                        </div>

                        <div class="col-md-4 col-sm-3 col-xs-6">
                            <span class="icon-megaphone color-light el-icon2x"></span>
                            <h5 class="color-light"><strong>Phone</strong></h5>
                            <p class="color-light">044 - 42918411</p>
                        </div>

                        <div class="col-md-4 col-sm-3 col-xs-6">
                            <span class="icon-envelope color-light el-icon2x"></span>
                            <h5 class="color-light"><strong>Email</strong></h5>
                            <p class="color-light">support@ebuilders.in</p>
                        </div>
                        
                         <div class="col-md-4 col-sm-3 col-xs-6">
                            <span class="icon-envelope color-light el-icon2x"></span>
                            <h5 class="color-light"><strong>Skype</strong></h5>
                            <p class="color-light">support@ebuilders.in</p>
                        </div>
                        
                        <!-- contact info end -->

                    </div><!-- row left end -->
                </div><!-- col left end -->

                <div class="col-md-6">
                    <div class="contact contact-us-one">
                        <div class="col-sm-12 col-xs-12 text-center mb20">
                            <h4 class="pb25 bb-solid-1 text-uppercase">
                                Get in Touch
                                <small class="text-lowercase">Please complete the form and we will get back to you.</small>
                            </h4>
                        </div>
                        <form name="contactform" id="contactForm" method="post" action="assets/php/send.php">

                            <!-- fullname start -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="senderName" id="senderName" class="input-md input-rounded form-control" placeholder="fullname" maxlength="100" required>
                                </div>
                            </div>
                            <!-- fullname end -->

                            <!-- email start -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="email" name="senderEmail" id="senderEmail" class="input-md input-rounded form-control" placeholder="email address" maxlength="100" required>
                                </div>
                            </div>
                            <!-- email end -->

                            <!-- textarea start -->
                            <div class="col-sm-12">
                                <textarea class="form-control" name="message" id="message" rows="5" required></textarea>
                            </div>
                            <!-- textarea end -->

                            <!-- button start -->
                            <div class="col-sm-12 mt10 text-center">
                                <button type="submit" name="sendMessage" id="sendMessage" class="button button-md button-block button-grad-stellar">Send Message</button>
                            </div>
                            <!-- button end -->

                            <div id="sendingMessage" class="statusMessage sending-message"><p>Sending your message. Please wait...</p></div>
                            <div id="successMessage" class="statusMessage success-message"><p>Thanks for sending your message! We'll get back to you shortly.</p></div>
                            <div id="failureMessage" class="statusMessage failure-message"><p>There was a problem sending your message. Please try again.</p></div>
                            <div id="incompleteMessage" class="statusMessage"><p>Please complete all the fields in the form before sending.</p></div>

                        </form>
                    </div><!-- div contact end -->
                </div><!-- col end -->
            </div><!-- row end -->
        </div><!-- container end -->
      </div><!-- section contact end -->
 <?php include'static_footer.php';?>
<style>
   @import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 25px;
  margin-right: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: calc( 100% - 75px );
  float: right;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  left: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid #ccc;
  border-left: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  left: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-right: 14px solid #fff;
  border-left: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 0px;
  margin-right: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

                    .align{text-align: right;}
                    .c1{margin:39px -31px 6px;}
                    
    </style>
    
    <style>
        
#timeline {
  list-style: none;
  position: relative;
}
#timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #4997cd;
  left: 50%;
  margin-left: -1.5px;
}
#timeline .clearFix {
  clear: both;
  height: 0;
}
#timeline .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -25px;
  background-color: #4997cd;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
  font-size: 1.4em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
  font-size: .7em;
  position: relative;
  top: -10px;
}
#timeline .timeline-badge.timeline-filter-movement {
  background-color: #ffffff;
  font-size: 1.7em;
  height: 35px;
  margin-left: -18px;
  width: 35px;
  top: 40px;
}
#timeline .timeline-badge.timeline-filter-movement a span {
  color: #4997cd;
  font-size: 1.3em;
  top: -1px;
}
#timeline .timeline-badge.timeline-future-movement {
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  font-size: 1.7em;
  top: -16px;
  margin-left: -18px;
}
#timeline .timeline-badge.timeline-future-movement a span {
  color: #4997cd;
  font-size: .9em;
  top: 2px;
  left: 1px;
}
#timeline .timeline-movement {
  border-bottom: dashed 1px #4997cd;
  position: relative;
}
#timeline .timeline-movement.timeline-movement-top {
  height: 60px;
}
#timeline .timeline-movement .timeline-item {
  padding: 20px 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #666;
  padding: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
#timeline .timeline-movement .timeline-item .timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul {
  text-align: right;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li {
  color: #666;
}
#timeline .timeline-movement .timeline-item .timeline-panel.credits .timeline-panel-ul li span.importo {
  color: #468c1f;
  font-size: 1.3em;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul {
  text-align: left;
}
#timeline .timeline-movement .timeline-item .timeline-panel.debits .timeline-panel-ul span.importo {
  color: #e2001a;
  font-size: 1.3em;
}
        </style>
