        <div id="searchModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header bg-gray">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title text-center"><i class="fa fa-search fa-fw"></i> Search here</h5>
                    </div>
                    <div class="modal-body">                        
                        <form action="#" class="inline-form">
                            <input type="text" class="modal-search-input" autofocus>
                        </form>
                    </div>
                    <div class="modal-footer bg-gray">
                        <span class="text-center"><a href="#" class="color-dark">Advanced Search</a></span>
                    </div>
                </div>

            </div>
        </div>        
        
        
        <!-- Intro Area
        ===================================== -->
          <header id="info-1" class="pt100 pb100  parallax-window-2" data-parallax="scroll" data-speed="0.5" data-image-src="assets/img/bg/img-bg-44.jpg" data-positionY="1000">
            <div class="container">
                    <div class="row pt75">
                        <div class="col-md-12 text-center">
                            <h1 class="color-light">
                                <small class="color-light">The best way to be success</small>
                                Are you ready to be success with us?
                            </h1>
                        </div>
                    </div>
            </div>
          </header>

        


    <!-- Service Area
            ===================================== -->
    <div id="service" class="pt75 pb25">
        <div class="container">

            <!-- title and short description start -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="font-size-normal">
                        <small>Modern Service</small>
                        We Build Website &amp; App
                        <small class="heading heading-solid center-block"></small>
                    </h1>
                </div>

                <div class="col-md-8 col-md-offset-2 text-center">
                    <p class="lead">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt voluptatem.
                    </p>
                </div>
            </div>
            <!-- title and short description end -->

            <!-- service one start -->
            <div class="row mt75">
                <div class="col-md-6">
                    <img src="assets/img/other/img-other-30.png" alt="website service" class="img-responsive">
                </div>
                <div class="col-md-5">

                    <h3 class="font-size-normal">
                        <small class="color-primary">Web Design &amp; Development</small>
                        Wordpress. Joomla. Opencart. Etc.
                    </h3>

                    <p class="mt20">
                        We design &amp; develope modern website and app for any type of business. Landing page, ecommerce, company profile, web application, mobile app,
                        anything that you want to make great success.
                    </p>
                    <p>
                        <i class="fa fa-wordpress fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-joomla fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-drupal fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-shopping-basket fa-2x color-gray2 mr10"></i>
                    </p>
                    <p>
                        <a class="button-o button-sm button-primary hover-fade">Start Project</a>
                    </p>
                </div>
            </div>
            <!-- service one end -->

            <!-- service two start -->
            <div class="row mt100">
                <div class="col-md-6 col-md-push-6">
                    <img src="assets/img/other/img-other-31.png" alt="website service" class="img-responsive">
                </div>
                <div class="col-md-5 col-md-pull-5">

                    <h3 class="font-size-normal">
                        <small class="color-success">App Design &amp; Development</small>
                        Android. iOS. Windows. Etc.
                    </h3>

                    <p class="mt20 animated" data-animation="fadeIn" data-animation-delay="100">
                        We design &amp; develope modern website and app for any type of business. Landing page, ecommerce, company profile, web application, mobile app,
                        anything that you want to make great success.
                    </p>
                    <p>
                        <i class="fa fa-android fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-apple fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-windows fa-2x color-gray2 mr10"></i>
                        <i class="fa fa-amazon fa-2x color-gray2 mr10"></i>
                    </p>
                    <p>
                        <a class="button-o button-sm button-success hover-fade">Start Project</a>
                    </p>
                </div>
            </div>
            <!-- service two end -->
            <!-- service three end -->

        </div><!-- container end -->
    </div><!-- section service end -->

    <!-- Fun Fact Area
            ===================================== -->
    <div id="fact" class="bg-grad-stellar pt100 pb100">
        <div class="container">

            <!-- title and short description start -->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center mb50">
                    <h1 class="font-size-normal color-light">
                        <small class="color-light">Your Business Partner</small>
                        Better Solution for Better Business
                    </h1>

                </div>
            </div>
            <!-- title and short description end -->

            <div class="row">

                <!-- fun fact left start -->
                <div class="col-md-3">
                    <div class="row">

                        <!-- fun fact one start -->
                        <div class="col-md-12 col-sm-6 col-xs-6">
                            <div class="fact">
                                <div class="fact-number timer" data-perc="387">
                                    <span class="factor color-light"></span>
                                </div>
                                <span class="fact-title color-light alpha7">Projects Completed</span>
                            </div>
                        </div>
                        <!-- fun fact one end -->

                        <!-- fun fact two start -->
                        <div class="col-md-12 col-sm-6 col-xs-6">
                            <div class="fact">
                                <div class="fact-number timer" data-perc="578">
                                    <span class="factor color-light"></span>
                                </div>
                                <span class="fact-title color-light alpha7">Happy Clients</span>
                            </div>
                        </div>
                        <!-- fun fact two end -->

                    </div>
                </div>
                <!-- fun fact left end -->

                <!-- fun fact right start -->
                <div class="col-md-3 col-md-push-6">
                    <div class="row">

                        <!-- fun fact three start -->
                        <div class="col-md-12 col-sm-6 col-xs-6">
                            <div class="fact">
                                <div class="fact-number timer" data-perc="175">
                                    <span class="factor color-light"></span>
                                </div>
                                <span class="fact-title color-light alpha7">Coffee Cups</span>
                            </div>
                        </div>
                        <!-- fun fact three end -->

                        <!-- fun fact four start -->
                        <div class="col-md-12 col-sm-6 col-xs-6">
                            <div class="fact">
                                <div class="fact-number timer" data-perc="350">
                                    <span class="factor color-light"></span>
                                </div>
                                <span class="fact-title color-light alpha7">Cupcakes</span>
                            </div>
                        </div>
                        <!-- fun fact four end -->

                    </div>
                </div>
                <!-- fun fact right end -->

                <div class="col-md-6 col-md-pull-3">
                    <img src="assets/img/other/map.png" alt="macbook" class="img-responsive">
                </div>

            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-push-2 text-center">
                    <h4 class="pt25 color-light">Have an idea? We will do the rest!</h4>
                    <p class="pb10 color-light alpha8">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <a href="#" class="button button-md button-gray hover-ripple-out"><span class="color-primary">Start Project</span></a>
                </div>
            </div>

        </div><!-- container end -->
    </div><!-- section fun fact end -->


    <!-- SVG Cart Area
            ===================================== -->
    <div class="svg-container2">
        <!-- svg start -->
        <svg id="svgLine" xmlns="http://www.w3.org/2000/svg" version="1.1"
             width="100%" height="300" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2000 250" preserveAspectRatio="xMinYMax">

            <polygon points="-150,300 200,90 550,140 800,60 1100,150 1400,100 1700,10 1900,50 2500,90 2500,300"
                     fill="url(#BglinierGradient)" stroke="none">
            </polygon>

            <polyline points="-150,244 200,90 550,140 800,60 1100,150 1400,100 1700,10 1900,50 2500,90 2500,500"
                      fill="none" stroke="#7668af" stroke-width="0">
            </polyline>

            <text x="170" y="20" fill="#8b949b" style="font-size: 120%; font-weight: 400;">Lines of Code</text>
            <text x="170" y="60" fill="#5cb85c" style="font-size: 250%; font-weight: 300;">120K</text>

            <text x="510" y="60" fill="#8b949b" style="font-size: 120%; font-weight: 400;">Shortcodes</text>
            <text x="520" y="100" fill="#5f6467" style="font-size: 250%; font-weight: 300;">750</text>

            <text x="760" y="0" fill="#8b949b" style="font-size: 120%; font-weight: 400;">Icons Included</text>
            <text x="760" y="40" fill="#b2cc71" style="font-size: 250%; font-weight: 300;">2000+</text>

            <text x="1060" y="70" fill="#8b949b" style="font-size: 120%; font-weight: 400;">Happy Clients</text>
            <text x="1060" y="110" fill="#3c88c6" style="font-size: 250%; font-weight: 300;">950</text>

            <text x="1350" y="30" fill="#8b949b" style="font-size: 120%; font-weight: 400;">Item Sales</text>
            <text x="1350" y="70" fill="#1abc9c" style="font-size: 250%; font-weight: 300;">5,780</text>

            <text x="1650" y="90" fill="#333333" style="font-size: 140%; font-weight: 300; font-family: 'Pacifico', cursive;">Counting..</text>

            <ellipse id="svg_1" rx="15" ry="15" cx="200" cy="90" fill="#5cb85c" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_2" rx="10" ry="10" cx="550" cy="140" fill="#5f6467" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_3" rx="15" ry="15" cx="800" cy="60" fill="#b2cc71" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_4" rx="15" ry="15" cx="1100" cy="150" fill="#3c88c6" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_5" rx="10" ry="10" cx="1400" cy="100" fill="#1abc9c" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_6" rx="10" ry="10" cx="1700" cy="10" fill="#a85ad4" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_7" rx="9" ry="9" cx="1900" cy="50" fill="#ff8b34" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_8" rx="6" ry="6" cx="2500" cy="90" fill="#fd40b3" stroke="#ffffff" stroke-width="5"></ellipse>
            <ellipse id="svg_9" rx="6" ry="6" cx="2200" cy="90" fill="#fd3635" stroke="#ffffff" stroke-width="5"></ellipse>

            <defs>
                <lineargradient id="BglinierGradient" x1="0" y1="0" x2="0" y2="1">
                    <stop id="BgLinierGradientStop_1" stop-opacity="1" stop-color="#e8f3f5" offset="0"></stop>
                    <stop id="BgLinierGradientStop_2" stop-opacity="1" stop-color="#e8f3f5" offset="1"></stop>
                </lineargradient>
            </defs>
        </svg>
        <!-- svg end -->
    </div><!-- svg container end -->

    <!-- Achievement Area
           ===================================== -->
    <div class="pt50" style="background: url(assets/img/bg/bg-wood.jpg) 100% 100% repeat-x #e8f3f5;">
        <div class="container">

            <!-- title and short description start -->
            <div class="row">
                <div class="col-md-12">
                    <h2 class="font-source-sans-pro text-center mb50">
                        <small class="heading heading-icon heading-icon-rounded bg-grad-stellar center-block">
                            <i class="fa fa-trophy color-light"></i>
                        </small>
                        The Best Web &amp; App Developer 2016
                        <small class="heading-desc text-lowercase color-dark">
                            Every day, We makes thousands of customers happy.
                        </small>
                    </h2>
                </div>
            </div>
            <!-- title and short description end -->

            <div class="row mb50 text-center">
                <div class="col-sm-12">
                    <i class="fa fa-android fa-3x mr20 color-green"></i>
                    <i class="fa fa-apple fa-4x mr20 color-dark"></i>
                    <i class="fa fa-amazon fa-4x mr20 color-red"></i>
                    <i class="fa fa-windows fa-3x color-purple"></i>
                </div>
            </div>

            <div class="col-md-12">
                <img src="assets/img/other/img-other-6.png" alt="device" class="img-responsive center-block">
            </div>

        </div><!-- container end -->
    </div><!-- section achievment end -->

    <!-- Contact Us Area
   =====================================-->
    <div id="contact" class="pt100 pb100 bg-grad-stellar">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="row">

                        <!-- title start -->
                        <div class="col-md-12 mb50">
                            <h1 class="font-size-normal color-light">
                                <small class="color-light">Contact Us</small>
                                Drop Us a Message
                            </h1>
                            <h5 class="color-light">Please feel free to say anything to us. Our staff will reply any message<br>as soon as possible.</h5>
                        </div>
                        <!-- title end -->

                        <!-- contact info start -->
                        <div class="col-md-5 col-sm-3 col-xs-12">
                            <span class="icon-map color-light el-icon2x"></span>
                            <h5 class="color-light"><strong>Address</strong></h5>
                            <p class="color-light">No 16/29, 1st Main Road, New Colony, Chrompet, Chennai 44.</p>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <span class="icon-megaphone color-light el-icon2x"></span>
                            <h5 class="color-light"><strong>Phone</strong></h5>
                            <p class="color-light">044 - 42918411</p>
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-6">
                            <span class="icon-envelope color-light el-icon2x"></span>
                            <h5 class="color-light"><strong>Email</strong></h5>
                            <p class="color-light">support@ebuilders.in</p>
                        </div>
                        <!-- contact info end -->

                    </div><!-- row left end -->
                </div><!-- col left end -->

                <div class="col-md-6">
                    <div class="contact contact-us-one">
                        <div class="col-sm-12 col-xs-12 text-center mb20">
                            <h4 class="pb25 bb-solid-1 text-uppercase">
                                Get in Touch
                                <small class="text-lowercase">Please complete the form and we will get back to you.</small>
                            </h4>
                        </div>
                        <form name="contactform" id="contactForm" method="post" action="assets/php/send.php">

                            <!-- fullname start -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="senderName" id="senderName" class="input-md input-rounded form-control" placeholder="fullname" maxlength="100" required>
                                </div>
                            </div>
                            <!-- fullname end -->

                            <!-- email start -->
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="email" name="senderEmail" id="senderEmail" class="input-md input-rounded form-control" placeholder="email address" maxlength="100" required>
                                </div>
                            </div>
                            <!-- email end -->

                            <!-- textarea start -->
                            <div class="col-sm-12">
                                <textarea class="form-control" name="message" id="message" rows="5" required></textarea>
                            </div>
                            <!-- textarea end -->

                            <!-- button start -->
                            <div class="col-sm-12 mt10 text-center">
                                <button type="submit" name="sendMessage" id="sendMessage" class="button button-md button-block button-grad-stellar">Send Message</button>
                            </div>
                            <!-- button end -->

                            <div id="sendingMessage" class="statusMessage sending-message"><p>Sending your message. Please wait...</p></div>
                            <div id="successMessage" class="statusMessage success-message"><p>Thanks for sending your message! We'll get back to you shortly.</p></div>
                            <div id="failureMessage" class="statusMessage failure-message"><p>There was a problem sending your message. Please try again.</p></div>
                            <div id="incompleteMessage" class="statusMessage"><p>Please complete all the fields in the form before sending.</p></div>

                        </form>
                    </div><!-- div contact end -->
                </div><!-- col end -->

            </div><!-- row end -->
        </div><!-- container end -->
    </div><!-- section contact end -->